* {
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#box {
    height: 300px;
    width: 300px;
    background: crimson;

}

#inner {
    height: 50%;
    width: 200px;
    background: burlywood;
}